.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  /* font-weight: <weight>; */
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}



/* shared style */
.text-primary{
    color: #FD6E0A;
}
.section-title{
    font-size: 35px;
    font-weight: bold;
    color: #181818;
}
.section-description{
    font-size: 18px;
    color: #757575;
    width: 827px;
    height: 120px;
}
.secondary-background{
    background-color: #FFF8F3;
}
.text-center{
    text-align: center;
}

/* header  */
.header{
    background-image: url('../portfolio-resources/images/developer.png'), url('../portfolio-resources/images/header_bg.png');
    background-repeat: no-repeat;
    background-position: top left, bottom right;background-color: #FFF8F3;
}




/* Nav styles */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 200px;
}
.nav-title{
    font-size: 45px;
    font-weight: 800;
}
nav ul{
    display: flex;
    align-items: center;
}
nav ul li{
    list-style: none;
    margin-right:50px ;
}
nav li a{
    text-decoration: none;
    font-size: 20px;
}
.dark-2{
    color: #474747;
}
.btn-primary{
    background-color: #FD6E0A;
    font-weight: bold;
    color: white;
    padding: 18px 35px;
    font-size: 20px; 
    border-radius: 5px;
    border: none;
}

/* baneer styles */
.banner-greting{
    color: #474747;
    font-size: 45px;
    font-weight: 600px;
}
.banner-title{
    font-weight: bold;
    font-size: 85px;
}
.banner-img{
    width: 580px;
}
.banner{
    display: flex;
    justify-content: space-between;
    margin: 0px 35px 0px 230px;
}
.banner-content{
    max-width: 580;
    /* display: flex; */
} 
.banner-description{
    color: #757575;
    font-size: 18px;
    width: 585px;
    height: 60px;

}

/* main styles */
main{
    max-width: 1140px;
    margin: 0 auto;
}
main section{
    /* margin: 130px; */
    margin-bottom: 130px;
}

/* about styles */
.about{
    border-radius: 10px;
    padding: 130px 150px;
    width: 827px;
    height: 288px;
    text-align: center;
    margin-top: 130px;
}
.about-items{
    display: flex;
    justify-content:space-around;
    text-align:center
}
.item-title{
    font-size: 17px;
    color: #757575;
    
}
.item-description{
    font-size: 17px;
    font-weight: bold;
    color: #474747;
}

/* skills styls */
.skills{
    /* text-align: center; */
}
.skills-container{
    display: flex;
    gap: 24px;
    
}
.skill{
    background-color: #FFFFFF;
    /* width: 267px; */
    /* height: 377px; */
    padding: 30px;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.07);
    border-radius: 5px;
}
.skill-description{
    padding: 20px 33px 30px 0;
}




/* resume styles */

.resume{
    max-width: 1140px;
    /* justify-content: space-between; */
}

.resume-container{
    display: flex;
    /* justify-content:space-evenly; */
    gap: 50px;
    width: 520px;
}
.resume-column-title{
    font-weight: bold;
    font-size: 30px;
    color: #474747;
    width: 400px;
}
.experience{
    width: 400px;
    height: 175px;
    
}
.resume-column{
    align-items: center;
}
.experience-title{
    color: #474747;
    font-weight: bold;
    font-size: 25px;
    width: 405px;
    /* margin: 10px; */
    /* margin-right: none; */
    /* margin-bottom: 0; */
}
.experience-sub-title{
    color: #757575;
    font-weight: 600;
    margin: 0;
    margin-bottom: 20px;
    font-size: 20px;
    width: 309px;
}
.experience-description{
    width: 400px;
    color: #757575;
    font-size: 16px;
}
.resume-btn{
    margin-top: 50px;
}